<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Robot</title>
  <style>
    .nav {
      background: rebeccapurple;
      height: 65px;
    }

    ul {
      overflow: hidden;
    }

    ul li {
      float: left;
      list-style: none;
      padding: 0 10px;
      line-height: 65px;
    }

    ul li a {
      color: white;
    }
  </style>
</head>

<body>
  <div class="nav">
    <ul>
      <li><a href="#">首页</a></li>
      <li><a href="#">发布问答</a></li>
    </ul>
  </div> {% block content %} {% endblock %}
</body>

</html>