{% extends 'base.html' %}

{% block content %}
    <form method="post" action="/client/list/">
        <label>局域网设备IP列表</label><br>
        <select name='select_ip'>
            {% if selected_ip == '--选择--' %}
                <option value='--选择--' selected='selected'>--选择--</option>
            {% else %}
                <option value='--选择--'>--选择--</option>
            {% endif %}

            {% for ip, mac in devices %}
                {% if selected_ip == ip %}
                    {% if ip == host_ip %}
                        <option value={{ip}} selected='selected'>{{ip}}&nbsp;({{mac}}) 本机</option>
                    {% else %}
                        <option value={{ip}} selected='selected'>{{ip}}&nbsp;({{mac}})</option>
                    {% endif %}
                {% else %}
                    {% if ip == host_ip %}
                        <option value={{ip}}>{{ip}}&nbsp;({{mac}}) 本机</option>
                    {% else %}
                        <option value={{ip}}>{{ip}}&nbsp;({{mac}})</option>
                    {% endif %}
                {% endif %}                
            {% endfor %}
        </select> 
        <input type="submit" value="连接"/>
    </form>
    <label>{{connect_result}}</label>
{% endblock %}