.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.c-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-form textarea{
    width: 780px;
    min-height: 400px;
}

.c-form input{
    width: 200px;
    height: 50px;
}